html{
    box-sizing: border-box; 
    
}
*, *:before,*:after{
    box-sizing: inherit;
}
*{
    margin: 0;
    padding: 0;
}
body{
    font-family:Arial, Helvetica, sans-serif;
}
i{
    padding-right: 5px;
    font-size: 30px;
}

h2{
    padding-bottom: 40px;
    font-weight: normal;
    text-align: center;
    font-size: 40px;
}
h3{
    color: white;
    font-size: 27px;
    padding: 12px 0;
    font-family: Helvetica;
    font-weight: bold;
    text-align: left;
}
h4{
    color: white;
    font-size: 20px;
    text-align: left;
}
p{
    font-size: 20px;
    text-align: left;
}
section{
    padding-top: 50px;
   
  
}
 .contenedor{
    margin: 20px auto;
    width: 90%;

}

 /*tableta*/
 @media  screen and (max-width: 992px){
    
  }

     /*celular*/
@media  screen and (max-width: 768px){
    
  }

   /*celular*/
@media  screen and (max-width: 480px){

  }
/* ==========================================================================
   ******** HEADER********
   ========================================================================== */


header{
    width: 100vw;
    margin: 0 auto;
    background-image:url(../img/1.jpeg);
    height: 85vh;
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}
header .d-nombre{
    width: 100%;
    margin: 0 auto;
    padding-bottom: 35px;
    border-bottom: 3px solid white;
}
h1{
    font-family: Helvetica;
    font-weight: bold;
    font-size: 6.3em;
    color: rgb(227, 225, 233);
}

.p-header{
    font-size: 2.3em;
    font-weight: normal;
    font-family: Helvetica;
   color:#fa4919;
}


 /*tableta*/
@media  screen and (max-width: 992px){
    
    h1{
        font-size: 4.9em;
        color: rgb(227, 225, 233);
    }
    .p-header{
        font-size: 2em;
    }
    header .d-nombre{
        border-bottom: 5px solid yellow;
    }
  }

     /*celular*/
@media  screen and (max-width: 768px){
    h1{
       
        font-size: 3.6em;
        color: rgb(227, 225, 233);
    }
    
    .p-header{
        font-size: 1.5em;
    }
    header .d-nombre{
        border-bottom: 5px solid magenta;
    }
  }

   /*celular*/
@media  screen and (max-width: 480px){
    h1{
        text-align: center;
        font-size: 3.2em;
        color: rgb(227, 225, 233);
    }
    
    .p-header{
        text-align: center;
        font-size: 1.7em;
    }
    header .d-nombre{
        border-bottom: 5px solid blue;
    }
  }

i.lol{
    color: #fa4919;
}


/* ==========================================================================
   ******** MENU ********
   ========================================================================== */




/** Barra Principar**/

div.barra{
    padding: 15px 0;
    background-color: #353535;
    height: 70px;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
 
  /**Navegacion principal**/
  
  nav.navegacion-principal{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  @media  screen and (max-width: 768px){
    nav.navegacion-principal{
    display: none;
    }
}
  nav.navegacion-principal a{
    font-family:'Oswald', sans-serif; 
    color: white;
    font-size: 1.3em;
    text-transform:uppercase;
    text-decoration: none;
    transition: all 0.5s ease;

    margin: 0 10px 0 0;
    padding: 10px 10px;
    display: inline-block;
    width: auto;
    text-align: center;
    
  }
  nav.navegacion-principal a:hover{
    background-color: #fa4919;
  }
  nav.navegacion-principal a:last-child{
    color: #fa4919;
    border: 2px solid #fa4919;
  }
  nav.navegacion-principal a:last-child:hover{
    color: #fff;
  }
 
  /**  menu mob=vil**/
  
  div.menu-movil{
    width: 60px;
    display: block;
    float: right;
    text-align:right;
    margin-top: 12px;
  }
  div.menu-movil:hover{
    cursor: pointer;
  }
  @media only screen and (min-width:768px){
    div.menu-movil{
    display: none;
    }
  }
  div.menu-movil span{
    height: 8px;
    margin-bottom: 6px;
    background-color: white;
    display: block;
    
  }
  

/* ==========================================================================
   ******** SOBRE MI ********
   ========================================================================== */
.sobre-mi{

    position:relative;
    background:#c14433;
    height: 650px;
}
@media  screen and (max-width: 768px){
    .sobre-mi{
        height: 1100px;
    }
}


h2.sobre-t{ 
    color: white;
    font-weight: normal;
    text-align: center;
    font-size: 40px;
}
h2 span{
    padding-bottom: 10px;
    border-bottom: 3px solid #353535;
}
p.section{
    color: white;
    font-size: 20px;
    padding: 40px 0;
    text-align: left;

}
.contenedor-primcipal{
    
    list-style-type: none;
    text-align: center;
}
.primera{
    float: left;
  font-size: 20px;
  padding: 20px;
  width: 60%;
}
.segunda{
    width: 40%;
   float: right;
  padding: 20px;
}

img.my{
    width: 300px;
    border-radius: 50%;
    border: 3px solid #353535;

}
.d-button-sobre-mi a{
    text-decoration: none;
    width: 100% auto;
    height: 100%;
    list-style: none;
    color: white;
    background-color: #353535;
    float: left;
    margin: 0 auto;
    padding: 20px 15px;
    font-size: 20px;
    margin: 2px;
}
.d-button-sobre-mi a:hover{
    color: #fa4919;
  }
/*tableta*/
@media  screen and (max-width: 768px){
    .primera{
        float: left;
      font-size: 20px;
      padding: 20px;
      width: 100%;
    }
    .segunda{
        width: 100%;
      float: left;
      padding: 20px;
    }

}





/* ==========================================================================
   ******** HABILIDADES ********
   ========================================================================== */

h2.hab-titulo{
    

}
.contenedor-paketes{
    width: 100%;
    height: 100%;
 
}
@media  screen and (min-width: 768px){
      .primer-paket{
        width: 790px;
        height: 100%;
        display: flex;
        margin: 0 auto;
    
    }
}

@media  screen and (max-width: 768px){
    .primer-paket{
        width: 100%;
        height: 100%;
    }
}
.tecnologias{
    width: 200px;
    height: 230px;
    padding-top: 20px;
    margin: 50px auto;
    background-color: white;
    text-align: center;
    border-radius:  10px ;
    border: 4px solid #353535;
}



.tecnologias img{
    width: 100px;
}














/*tableta*/
@media  screen and (max-width: 992px){
    
  }

     /*celular*/
@media  screen and (max-width: 768px){
 
  }

   /*celular*/
@media  screen and (max-width: 480px){
    
  }